name: Releaser
env:
  PROJECT_FILE: nimbus-pcdu.kicad_pro
  PCB_FILE: nimbus-pcdu.kicad_pcb
  SCH_FILE: nimbus-pcdu.kicad_sch
  IMAGE_WIDTH: 2000
  IMAGE_HEIGHT: 2000
  OUTPUT_DIR: release
on:
  workflow_dispatch:
jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Extract revision
        id: revision
        run: |
          REVISION=$(jq -r '.text_variables.REVISION' "$PROJECT_FILE")
          if [ -z "$REVISION" ] || [ "$REVISION" = "null" ]; then
            echo "ERROR: REVISION field is missing"
            exit 1
          fi
          echo "REVISION=$REVISION" >> $GITHUB_ENV

      - name: Install dependencies
        run: |
          sudo add-apt-repository ppa:kicad/kicad-9.0-releases
          sudo apt update
          sudo apt install kicad -y --no-install-recommends
          sudo apt install -y fonts-open-sans xvfb
          pip3 install InteractiveHtmlBom

      - name: Generate schematic PDF
        run: |
          kicad-cli sch export pdf "$SCH_FILE" \
          --output "$OUTPUT_DIR"/schematic.pdf

      - name: Generate PCB PDF
        run: |
          kicad-cli pcb export pdf "$PCB_FILE" \
          --output "$OUTPUT_DIR" \
          --mode-multipage \
          --include-border-title \
          --sketch-pads-on-fab-layers \
          --layers F.Fab,B.Fab,F.Cu,In1.Cu,In2.Cu,B.Cu,F.Mask,B.Mask \
          --common-layers Edge.Cuts

          mv "$OUTPUT_DIR/$(basename "$PCB_FILE" .kicad_pcb).pdf" "$OUTPUT_DIR/pcb.pdf"

      - name: Generate BOM
        run: |
          kicad-cli sch export bom "$SCH_FILE" \
          --output "$OUTPUT_DIR"/bom.csv \
          --fields "Reference,${QUANTITY},Manufacturer,Manufacturer Part Number" \
          --labels "Reference,Quantity,Manufacturer,Manufacturer Part Number" \
          --group-by "Manufacturer Part Number" \
          --sort-field "Reference"

      - name: Generate gerber
        run: |
          kicad-cli pcb export gerbers "$PCB_FILE" \
          --output "$OUTPUT_DIR"/gerber \
          --layers F.Cu,In1.Cu,In2.Cu,B.Cu,F.Paste,B.Paste,F.Silkscreen,B.Silkscreen,F.Mask,B.Mask,Edge.Cuts \
          --crossout-DNP-footprints-on-fab-layers
          kicad-cli pcb export drill "$PCB_FILE" \
          --output "$OUTPUT_DIR"/gerber
          zip -r "$OUTPUT_DIR"/gerber.zip "$OUTPUT_DIR"/gerber

      - name: Generate ODB++
        run: |
          kicad-cli pcb export odb "$PCB_FILE" \
          --output "$OUTPUT_DIR"/odb++.zip

      - name: Generate netlist
        run: |
          kicad-cli sch export netlist "$SCH_FILE" \
          --output "$OUTPUT_DIR"/netlist.net

      - name: Generate interactive HTML BOM
        run: |
          xvfb-run --auto-servernum \
          generate_interactive_bom "$PCB_FILE" \
          --extra-data-file "$OUTPUT_DIR"/netlist.net \
          --show-fields "Manufacturer,Manufacturer Part Number" \
          --group-fields "Manufacturer Part Number" \
          --dark-mode \
          --highlight-pin1 all \
          --include-tracks \
          --include-nets \
          --show-fabrication \
          --checkboxes Placed \
          --no-browser \
          --dest-dir "$OUTPUT_DIR"

      - name: Generate images
        run: |
          kicad-cli pcb render "$PCB_FILE" \
          --output "$OUTPUT_DIR"/render/isometric_top.png \
          --quality high \
          --width 2000 \
          --height 2000 \
          --zoom 0.9 \
          --rotate 315,0,45
          kicad-cli pcb render "$PCB_FILE" \
          --output "$OUTPUT_DIR"/render/isometric_bottom.png \
          --quality high \
          --width 2000 \
          --height 2000 \
          --zoom 0.9 \
          --rotate 315,180,135

      - name: Create GitHub release
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | gh auth login --with-token
          zip -r release.zip "$OUTPUT_DIR"
          gh release create "$REVISION" release.zip \
          --title "$REVISION"
